<a href="https://colab.research.google.com/github/spandan1460/TnT-Lab/blob/master/Copy_of_PYTHON_FOR_MACHINE_LEARNING_DAY1_PRININTING_VALUE_IN_PYTHON_GETTING_YOUR_INDENTION_CORRECT_%26_VARIABLES_IN_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MY FIRST PYTHON PROGRAM

In [ ]:
a = 5
b = 6
c = a + b

In [ ]:
print("1Hello My first Program")
print('2Hello My first Program')
print('2')
print("2")

1Hello My first Program
2Hello My first Program
2
2

In [ ]:
2+3

5

In [ ]:
print("1.HELLO WORLD")
print('2.HELLO WORLD') # Python everything is a string '', "", "''", ''' MUltiline Comment
print("3HELLO" "\n WORLD") #\n is the new line charecter
print("4HELLO \t WORLD")

3HELLO
 WORLD
4HELLO 	 WORLD

In [ ]:
print('Maa Ambika')

ASSIGNMENT: Print the following Patterns
HELLO
    WORLD
    
    HELLO
WORLD

HELLO         WORLD

In [ ]:
print("HELLO \n \t WORLD")
print("\tHELLO")
print("WORLD")
#print()
print('Welcome')

HELLO
 	 WORLD
	HELLO
WORLD
Welcome

EMPTY PRINT FUNCTION

print with Multiple Arguments

In [ ]:
print("Hi","How","R","U")

Hi How R U

In [ ]:
print("Hi", "I\tm", 5,"ne")

Hi I	m 5 ne

In [ ]:
print("IoT", "Python", 'Is', 'Very', 'Popular')

IoT Python Is Very Popular

In [ ]:
print("Bhubaneswar is Capital City of Odisha")
print("It is also the Temple City of India")

Bhubaneswar is Capital City of Odisha
It is also the Temple City of India

# THE "end=" ATTRIBUTE

> Indented block

> Indented block

In [ ]:
print('Helllo',"India" ) # Hello IndiaWorld
print('World')
print('India')

Helllo India
World
India

In [ ]:
print("My Name is Bond", end = ', ')
print("James Bond")

My Name is Bond, James Bond

In [ ]:
print("MY Name is Bond, ", end ="" )
print("James Bond")

MY Name is Bond, James Bond

In [ ]:
print('Hi', 'Bye', 'Fine', sep = '123')

Hi123Bye123Fine

In [ ]:
print("My Name", "is Bond ",'Hello', sep = '*',end='------ ')
print("James Bond")

My Name*is Bond *Hello------ James Bond

In [ ]:
# sep attribute, separates the multiple parameters in print function
print('THe result of ', '2+3', 'is', 2+3, sep='==')

THe result of ==2+3==is==5

In [ ]:
print("My Name is Bond ", end = '\n\t')
print("James Bond")

print("My Name is Bond ", end = '*********')
print("James Bond")

My Name is Bond
	James Bond
My Name is Bond *********James Bond

In [ ]:
# Printing the output of ssum of two numbers
a = 4
b = 3
c = a + b

In [ ]:
print("The sum is ",c)

The sum is  7

In [ ]:
print("The sum of ", a, "and ", b, "is ", c)

The sum of  4 and  3 is  7

THE "sep = " ATTRIBUTE

In [ ]:
print("My Name is Bond","James Bond", sep="&&&&&&&")

My Name is Bond&&&&&&&James Bond

In [ ]:
print("My Name is Bond ", "James Bond", sep="\n")

My Name is Bond
James Bond

In [ ]:
print("My Name is Bond ", "James Bond", sep="\t")

My Name is Bond 	James Bond

# PRINTING TO A FILE

In [ ]:
print(2, 'Luku', sep = '-', file=open('test.csv','w'))

In [ ]:
X = int(input('Enter the Value for X'))
print(type(X))
Y = int(input('Enter for Y'))
print(type(Y))
Z = X + Y
print(Z)

Enter the Value for X12
<class 'int'>
Enter for Y13
<class 'int'>
25

In [ ]:
p = float(input('Enter the Value for p'))

Enter the Value for p2.3

# input() FUNCTION

In [ ]:
a = 2
print(a, 'Location of a = ', id(a),type(a))
a = 2.3
print(a, 'Location of a = ', id(a),type(a))
a = "Bhubaneswar"
print(a, 'Location of a = ', id(a),type(a))

2 Location of a =  10914528 <class 'int'>
2.3 Location of a =  140465356274304 <class 'float'>
Bhubaneswar Location of a =  140465337235568 <class 'str'>

In [ ]:
x = input('Enter a Value for X=')
print('X = ',x)
print(type(x))

Enter a Value for X=KIIT
X =  KIIT
<class 'str'>

In [ ]:
a = input('Enter value for a')
print('a = ', a)

Enter value for a123
a =  123

In [ ]:
a = int(input('a = '))
b = int(input('b = '))
c = a + b
print('c = ',c)

a = 12
b = 13
c =  25

In [ ]:
x = int(input('Enter value for X :: '))
y = int(input('Enter value for Y :: '))
print('Type of x is ', type(x))
print('Type of y is ', type(y))
z = x + y
print("z = ", z)

Enter value for X :: 26
Enter value for Y :: 32
Type of x is  <class 'int'>
Type of y is  <class 'int'>
z =  58

WAP TO ADD , SUBSTRACT TWO NUMBERS TAKING THE INPUT FRO USER

In [ ]:
x = int(input("Enter X "))
y =int(input("Enter Y"))

z = x + y
print('z = ', z)

Enter X 5
Enter Y8
z =  13

In [ ]:
x = 1234

print(type(x))

<class 'int'>

In [ ]:
X = float(input("Enter a Number"))
print(type(X))
print(X)

Enter a Number2
<class 'float'>
2.0

#                                                LITERALS IN PYTHON

In [ ]:
print(2)

2

In [ ]:
print("2")

2

INTEGERS IN PYTHON

In [ ]:
a = 11111111
print(a)

11111111

In [ ]:
b = + 11111111
print(b)

11111111

In [ ]:
c = -1111111
print(c)

-1111111

In [ ]:
print(0o123)

83

In [ ]:
print(0x123)

291

In [ ]:
print(44L) #Python 3 does not have a long integer, which Python2 had

SyntaxError: invalid syntax (<ipython-input-12-2086a9b7ea23>, line 1)

SCIENTIFIC NOTATION

In [ ]:
print(8E9)
print(3E-22)
print(3E-3)

8000000000.0
3e-22
0.003

ESCAPE CHARECTER

In [ ]:
print("\"JAI HIND\"")
print(' "JAI HIND" ')

"JAI HIND"
 "JAI HIND"

In [ ]:
a = '2.3'
print(type(a))
print(id(a))

a = 2
print(type(a))
print(id(a))

a = 2.3
print(type(a))
print(id(a))

<class 'str'>
139744227057424
<class 'int'>
10914528
<class 'float'>
139744236562592

# OPERATORS IN PYTHON

In [ ]:
2 + 3

5

In [ ]:
a = 7
b = 2
c = a / b
c1 = a // b # Floor Division
c2 = a % b   # Modulo
print('a / b = ',c)
print('a // b = ',c1)
print('a % b = ',c2)

a / b =  3.5
a // b =  3
a % b =  1

EXPONETIAL OPERATOR

In [ ]:
print(2 ** 3)  # C -> a^b, Pyhton -> a ** b
print(2 ** 3.)
print(2. ** 3)
print(2. ** 3.)
print(type(2 ** 3.))

8
8.0
8.0
8.0
<class 'float'>

In [ ]:
print(2 + 3)
print(2 + 3.0)
print(2. + 3)
print(2. + 3.)
print(type(2 + 3.))

5
5.0
5.0
5.0
<class 'float'>

FLOOR DIVISION OPERATOR

In [ ]:
print(6 // 4)
print(6. // 4)
print(6. // -4)
print(6 // -4)
print(7. % 4)
print(-7. % 4)

1
1.0
-2.0
-2
3.0
1.0

REMINDER / MODULO OPERATOR

In [ ]:
print(18 % 4)
print(28 % 3.5)

2
0.0

# ASSIGNEMENT OPERATOR

In [ ]:
a = 5
b = a
print("a = b \n=> b = ",b)

a = b
=> b =  5

In [ ]:
a = 3
a += 1 # a = a + 1
print(a)

4

In [ ]:
a = 3
a -= 1 # a = a - 1
print(a)

2

In [ ]:
a = 3
a *= 2 # a = a * 2
print(a)

6

In [ ]:
a = 8
a /= 2
print(a)
a %= 3
print(a)
a = 8
a //= 3
print(a)

4.0
1.0
2

# LOGICAL OPERATOR

In [ ]:
a = 0
b = 2
print(a and b)
print(b and a)

0
0

In [ ]:
a = 0
b = 1.0
print(a or b)

1.0

In [ ]:
a = 0
b = 1
print("not of a : ", not(a))
print("not of b : ", not(b))

not of a :  True
not of b :  False

In [ ]:
a = True
b = False
print(a and not(b))
print(b and a)
print(a or not(b))
print(b or a)

True
False
True
True

# IDENTITY OPERATOR

In [ ]:
a = "Hi"
b = "Helo"
c = "Helo"
print('a is b: ', a is b) # a ==          b
print('a is not b: ', a is not b) # a != b
print('b is c ', b is c)

a is b:  False
a is not b:  True
b is c  True

In [ ]:
a = "Hello"
b = 2
c = 2.0
print(c is b)

False






































































































































# VARIABLES IN PYTHON

# THE input() FUNCTION

In [ ]:
print("Tell Me Anything")
anything = input()
print("Hi", "How", "R", "U")
print('anything = ',anything)

Tell Me Anything
123456
Hi How R U
anything =  123456

In [ ]:
a = input('Enter a  ::: ')
#print('type of a  = ', type(a))
b = input('Enter b :::')
c = a+b
print('c = ',c)

Enter a  ::: 4
Enter b :::1
c =  41

In [ ]:
a = int(input('Enter a  ::: '))
print('type of a  = ', type(a))
b = int(input('Enter b :::'))
c = a + b
print('c = ', c)

Enter a  ::: 12
type of a  =  <class 'int'>
Enter b :::34
c =  46

STRING CONCATENATION

In [ ]:
print("Enter your name please")
fname = input("Enter your first name::")
lname = input("Enter your last name:::")
print("The Name of you have entered is  :: "+ fname+" "+ lname)

Enter your name please
Enter your first name::Jhalak
Enter your last name:::hota
The Name of you have entered is  :: Jhalak hota

In [ ]:
age = input("Enter your Age")
hobby = input("Enter your hobby")
print("Hello, I am " + fname + " "+ lname +" "+ "aged about "+ age + " years and interested in " + hobby)

Enter your Age34
Enter your hobbyteaching
Hello, I am Jhalak Hota aged about 34 years and interested in teaching

In [ ]:
s = "abc"
print(s * 3)

abcabcabc

In [ ]:
a = input("Enter a:: ")
b = input("Enter b:: ")
c = a+b
print('C = ', c)

Enter a:: 2
Enter b:: 3
C =  23

# VARAIBLES IN PYTHON

We can find the memory address that a variable references, by using the id() function.

The id() function returns the memory address of its argument as a base-10 integer.

We can use the function hex() to convert the base-10 number to base-16.

In [ ]:
my_var = 10
print('my_var = {0}'.format(my_var))
print('memory address of my_var (decimal): {0}'.format(id(my_var)))
print('memory address of my_var (hex): {0}'.format(hex(id(my_var))))

my_var = 10
memory address of my_var (decimal): 10914784
memory address of my_var (hex): 0xa68be0

In [ ]:
my_var_a = 23
print('a = ', my_var_a)
print(f'a = {my_var_a}')
print('a = ', my_var_a)
print(f'memory address of a is {id(my_var_a)}')
print(f'memory address of a is {hex(id(my_var_a))}')

my_var_a = 34.8
print('Id of a is ', id(my_var_a))

a =  23
a = 23
a =  23
memory address of a is 10915200
memory address of a is 0xa68d80
Id of a is  140465198085632

# Reference Counting

Method that returns the reference count for a given variable's memory address:
There are two methods.

Method 1: sys.getrefcount()

In [ ]:
import sys
my_array = [1,2,3,4]
print(f'The number of times a is referenced is {sys.getrefcount(my_array)}')

The number of times a is referenced is 2

The answer is 2, but why??
_________________________

The reason is sys.getrefcoount() is a function and also creates a copy of the variable it self, hence it returns 2.

Method 2:
__________________________
ctypes.c_long.from_address(address).value

In [ ]:
import ctypes
print(ctypes.c_long.from_address(my_array).value)

TypeError: ignored

sys.getsizeof(object[, default])
-------------------------------------
Return the size of an object in bytes. The object can be any type of object. All built-in objects will return correct results, but this does not have to hold true for third-party extensions as it is implementation specific.

Only the memory consumption directly attributed to the object is accounted for, not the memory consumption of objects it refers to.

If given, default will be returned if the object does not provide means to retrieve the size. Otherwise a TypeError will be raised.

getsizeof() calls the objects __sizeof__ method and adds an additional garbage collector overhead if the object is managed by the garbage collector.

In [ ]:
import sys

In [ ]:
x = 34
print(sys.getsizeof(x))
x = 23.8
print(sys.getsizeof(x))
x = 'B'
print(sys.getsizeof(x))
x = 'Bhubaneswar'
print(sys.getsizeof(x))

28
24
50
60

In [ ]:
x = 23
dir(x)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
x = 32.0
print(sys.getsizeof(x))

24

In [ ]:
x = 'cat'
y = 'Billi'
print(sys.getsizeof(x))
print(sys.getsizeof(y))

52
54

# GARBAGE COLLECTION
--------------------------------------------
Method to handell Circular Reference

# STATIC TYPING vs DYNAMIC  TYPING
------------------------------------------------------

In python the variable name is just a reference to the memory location. This facilitates the Dynamic Typing, which is not the case in case of Static Typed Language like Java or C. 

So when we re- assigns a variable name to a value of different type, we just change the referece that the name points to , rather than allocating the memory. 


type() Function
---------------------------
type() : return the name of the class of the object that a variable name is pointing to

In [ ]:
p = 23
print('p = ',p ,'\t', type(p), hex(id(p)))
p = 12
print('p = ',p ,'\t', type(p), hex(id(p)))
p = 34.7
print('p = ',p ,'\t', type(p), hex(id(p)))

p = 'B'
print('p = ',p ,'\t', type(p), hex(id(p)))

p = 'Bhubaneswar'
print('p = ',p ,'\t', type(p), hex(id(p)))

p =  23 	 <class 'int'> 0xa761a0
p =  12 	 <class 'int'> 0xa76040
p =  34.7 	 <class 'float'> 0x7efe6f409f78
p =  B 	 <class 'str'> 0x7efe90265f10
p =  Bhubaneswar 	 <class 'str'> 0x7efe6f2adeb0