### Q2
### Program to check whether a triangle is possible or not. User will input the 3 sides

In [2]:
a = int(input("Enter the length of side a: "))
b = int(input("Enter the length of side b: "))
c = int(input("Enter the length of side c: "))

if a + b > c and a + c > b and b + c > a:
    print("The triangle is possible")
else:
    print("The triangle is not possible")

The triangle is possible

### Q3
### Enter three sides of triangle as user input . Find out which one is Right Angle, Acute or Obtuse .

In [17]:
a = int(input("Enter the length of side a:"))
b = int(input("Enter the length of side b:"))
c = int(input("Enter the length of side c:"))
if c**2 == (a**2 + b**2):
 print("The triangle is right angle")
elif c**2 < (a**2 + b**2):
 print("The traingle is acute angle")
else: 
   print("The traingle is obtuse angle")

The traingle is acute angle

### Q7
### Program to check whether the year is a leap year or not

In [1]:
year = int(input("Enter the year: "))
if (year % 4) == 0:
    if (year % 100) == 0:
         if (year % 400) == 0:
              print("{0} is a leap year".format(year))
         else:
              print("{0} is not a leap year".format(year))
    else:
         print("{0} is a leap year".format(year))
else:
     print("{0} is not a leap year".format(year))

2000 is a leap year

### Q1 
### A Company give the following increment skim.
### If year of service is less than 5 year Bonus given is 5%,  year of service is  in between 5 to 10year 10% Bonus is given,  year of service is  more than 10 17% bonus is given.
### D.A is allotted every one to 11% 
### Performance Allowance is : for Rating A 15%, Rating B 8 % , Rating C 4%
### Calculate the salary of the following Employee:

In [24]:
n=int(input("enter the number of employees"))
print ("Sl.No. \t\t\t Name \t\t\t Bonus \t\t\t DA \t\t\t Performance Allowance \t\t\t Net Salary \n")
for i in range(n):
    name=input(("Enter the name"))
    basic_salary=int(input("Enter the basic salary"))
    year_of_service=int(input("Enter the year of service"))
    rating=input(("Enter the rating"))
    if year_of_service<5:
        bonus=basic_salary*5/100
        da=basic_salary*11/100
        performance_allowance=0
    elif year_of_service>=5 and year_of_service<=10:
        bonus=basic_salary*10/100
        da=basic_salary*11/100
        performance_allowance=0
    else:
        bonus=basic_salary*17/100
        da=basic_salary*11/100
        if rating=='A':
            performance_allowance=basic_salary*15/100
        elif rating=='B':
            performance_allowance=basic_salary*8/100
        else:
            performance_allowance=basic_salary*4/100
    print(i+1,"\t\t\t",name,"\t\t\t",bonus,"\t\t\t",da,"\t\t\t",performance_allowance,"\t\t\t",bonus+da+performance_allowance+basic_salary,"\t\t\t")

Sl.No. 			 Name 			 Bonus 			 DA 			 Performance Allowance 			 Net Salary

1 			 RAMESH 			 1795.2 			 1161.6 			 844.8 			 14361.6
2 			 SURESH 			 1760.0 			 1936.0 			 0 			 21296.0
3 			 KIRTI 			 1252.0 			 1377.2 			 0 			 15149.2
4 			 RAHUL 			 3535.3 			 3888.83 			 0 			 42777.13
5 			 USMAN 			 566.0 			 1245.2 			 0 			 13131.2

### Q5
###  Print the sum of the of all even numbers between X and Y. X & Y are two integer given by user

In [10]:
X = int(input("Enter the value of X: "))
Y = int(input("Enter the value of Y: "))

sum=0
for i in range(X,Y+1):
    if i%2==0:
        sum = sum + i
print("The sum of all even numbers between X and Y is: ",sum)

The sum of all even numbers between X and Y is:  30

### Q6
###  Print all the leap year from the year 1001 till 2021

In [11]:
for year in range(1001,2021):
    if (year % 4) == 0:
        if (year % 100) == 0:
             if (year % 400) == 0:
                  print(year)
             else:
                  print(year)
        else:
             print(year)
else:
        print(year)

1004
1008
1012
1016
1020
1024
1028
1032
1036
1040
1044
1048
1052
1056
1060
1064
1068
1072
1076
1080
1084
1088
1092
1096
1100
1104
1108
1112
1116
1120
1124
1128
1132
1136
1140
1144
1148
1152
1156
1160
1164
1168
1172
1176
1180
1184
1188
1192
1196
1200
1204
1208
1212
1216
1220
1224
1228
1232
1236
1240
1244
1248
1252
1256
1260
1264
1268
1272
1276
1280
1284
1288
1292
1296
1300
1304
1308
1312
1316
1320
1324
1328
1332
1336
1340
1344
1348
1352
1356
1360
1364
1368
1372
1376
1380
1384
1388
1392
1396
1400
1404
1408
1412
1416
1420
1424
1428
1432
1436
1440
1444
1448
1452
1456
1460
1464
1468
1472
1476
1480
1484
1488
1492
1496
1500
1504
1508
1512
1516
1520
1524
1528
1532
1536
1540
1544
1548
1552
1556
1560
1564
1568
1572
1576
1580
1584
1588
1592
1596
1600
1604
1608
1612
1616
1620
1624
1628
1632
1636
1640
1644
1648
1652
1656
1660
1664
1668
1672
1676
1680
1684
1688
1692
1696
1700
1704
1708
1712
1716
1720
1724
1728
1732
1736
1740
1744
1748
1752
1756
1760
1764
1768
1772
1776
1780
1784
1788
1792
1796
1800
1804
1808
1812
1816
1820
1824
1828
1832
1836
1840
1844
1848
1852
1856
1860
1864
1868
1872
1876
1880
1884
1888
1892
1896
1900
1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000
2004
2008
2012
2016
2020
2020

### Q4
###  Write a Program to print the Absolute value in case of an integer and round up value in case of a float.

In [25]:
a=input("Enter the value of a: ")

if((type(a)==int)):
    print("The absolute value of a is: ",abs(a))
else:
    print("The absolute value of a is: ",round((float)(a)))

The absolute value of a is:  43